<?xml version="1.0"?>
<!-- Copyright (c) 2016. On Tap Networks Limited. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="tns" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MasterCard</label>
                <comment><![CDATA[Accept credit/debit cards in your Magento store.]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>

                <group id="hpf" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hosted Payment Session</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/active</config_path>
                    </field>
                    <field id="vault_active" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Vault Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf_vault/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/tns_hpf/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>OnTap\MasterCard\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/tns_hpf/payment_action</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/tns_hpf/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/tns_hpf/api_password</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook Secret</label>
                        <config_path>payment/tns_hpf/webhook_secret</config_path>
                        <comment>Be sure to enable the WebHook support in your MasterCard Merchant Administration</comment>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_url" translate="label comment" type="text" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook URL</label>
                        <config_path>payment/tns_hpf/webhook_url</config_path>
                        <comment>If left blank, will be chosen automatically</comment>
                    </field>
                    <field id="api_gateway" translate="label" type="select" sortOrder="89" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway</label>
                        <source_model>OnTap\MasterCard\Model\Adminhtml\Source\Gateway</source_model>
                        <config_path>payment/tns_hpf/api_gateway</config_path>
                    </field>
                    <field id="api_gateway_other" translate="label" type="text" sortOrder="93" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom Gateway URL</label>
                        <config_path>payment/tns_hpf/api_gateway_other</config_path>
                        <depends>
                            <field id="api_gateway">api_other</field>
                        </depends>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/test</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/debug</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/tns_hpf/order_status</config_path>
                    </field>
                    <field id="three_d_secure" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable 3-D Secure</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/three_d_secure</config_path>
                        <comment>Be sure to Enable 3D-Secure in your MasterCard account</comment>
                    </field>
                    <field id="currency" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Accepted Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/tns_hpf/currency</config_path>
                    </field>
                    <field id="useccv" translate="label comment" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card Verification</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/useccv</config_path>
                        <comment>Be sure to Enable CVV in your MasterCard account</comment>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/tns_hpf/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/tns_hpf/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tns_hpf/sort_order</config_path>
                    </field>
                </group>

                <group id="hosted" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hosted Checkout</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/active</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>OnTap\MasterCard\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/tns_hosted/payment_action</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/tns_hosted/title</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/tns_hosted/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/tns_hosted/api_password</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook Secret</label>
                        <config_path>payment/tns_hosted/webhook_secret</config_path>
                        <comment>Be sure to enable the WebHook support in your MasterCard Merchant Administration</comment>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_url" translate="label comment" type="text" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook URL</label>
                        <config_path>payment/tns_hosted/webhook_url</config_path>
                        <comment>If left blank, will be chosen automatically</comment>
                    </field>
                    <field id="api_gateway" translate="label" type="select" sortOrder="89" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway</label>
                        <source_model>OnTap\MasterCard\Model\Adminhtml\Source\Gateway</source_model>
                        <config_path>payment/tns_hosted/api_gateway</config_path>
                    </field>
                    <field id="api_gateway_other" translate="label" type="text" sortOrder="93" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom Gateway URL</label>
                        <config_path>payment/tns_hosted/api_gateway_other</config_path>
                        <depends>
                            <field id="api_gateway">api_other</field>
                        </depends>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/test</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/debug</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/tns_hosted/order_status</config_path>
                    </field>
                    <field id="currency" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Accepted Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/tns_hosted/currency</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/tns_hosted/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/tns_hosted/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tns_hosted/sort_order</config_path>
                    </field>
                </group>

                <group id="direct" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit or Debit Card</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct/active</config_path>
                    </field>
                    <field id="vault_active" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Vault Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct_vault/active</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>OnTap\MasterCard\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/tns_direct/payment_action</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/tns_direct/title</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/tns_direct/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/tns_direct/api_password</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook Secret</label>
                        <config_path>payment/tns_direct/webhook_secret</config_path>
                        <comment>Be sure to enable the WebHook support in your MasterCard Merchant Administration</comment>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_url" translate="label comment" type="text" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook URL</label>
                        <config_path>payment/tns_direct/webhook_url</config_path>
                        <comment>If left blank, will be chosen automatically</comment>
                    </field>
                    <field id="api_gateway" translate="label" type="select" sortOrder="89" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway</label>
                        <source_model>OnTap\MasterCard\Model\Adminhtml\Source\Gateway</source_model>
                        <config_path>payment/tns_direct/api_gateway</config_path>
                    </field>
                    <field id="api_gateway_other" translate="label" type="text" sortOrder="93" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom Gateway URL</label>
                        <config_path>payment/tns_direct/api_gateway_other</config_path>
                        <depends>
                            <field id="api_gateway">api_other</field>
                        </depends>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct/test</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/tns_direct/order_status</config_path>
                    </field>
                    <field id="currency" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Accepted Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/tns_direct/currency</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct/debug</config_path>
                    </field>
                    <field id="three_d_secure" translate="label comment" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable 3-D Secure</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct/three_d_secure</config_path>
                        <comment>Be sure to Enable 3D-Secure in your MasterCard account</comment>
                    </field>
                    <field id="cctypes" translate="label" type="multiselect" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card Types</label>
                        <source_model>Magento\Payment\Model\Source\Cctype</source_model>
                        <config_path>payment/tns_direct/cctypes</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/tns_direct/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/tns_direct/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tns_direct/sort_order</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
