<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="TnsDirectInfoBlock" type="OnTap\Tns\Block\Direct\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
            <argument name="config" xsi:type="object">TnsDirectConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="TnsHostedInfoBlock" type="OnTap\Tns\Block\Direct\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
            <argument name="config" xsi:type="object">TnsHostedConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="TnsHpfInfoBlock" type="OnTap\Tns\Block\Direct\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
            <argument name="config" xsi:type="object">TnsHpfConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="TnsDirectAuthorizeDataBuilder" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="operation" xsi:type="string">AuthorizeOperationDataBuilder</item>
                <item name="card" xsi:type="string">OnTap\Tns\Gateway\Request\Direct\CardDataBuilder</item>
                <item name="order" xsi:type="string">OnTap\Tns\Gateway\Request\OrderDataBuilder</item>
                <item name="billing" xsi:type="string">OnTap\Tns\Gateway\Request\BillingDataBuilder</item>
                <item name="shipping" xsi:type="string">OnTap\Tns\Gateway\Request\ShippingDataBuilder</item>
                <item name="customer" xsi:type="string">OnTap\Tns\Gateway\Request\CustomerDataBuilder</item>
                <item name="source" xsi:type="string">OnTap\Tns\Gateway\Request\SourceDataBuilder</item>
                <item name="version" xsi:type="string">OnTap\Tns\Gateway\Request\VersionDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
</config>
