<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="tns" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MasterCard</label>
                <comment><![CDATA[Accept credit/debit cards in your Magento store.]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>

                <group id="hpf" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hosted Payment Session</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/tns_hpf/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>OnTap\Tns\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/tns_hpf/payment_action</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/tns_hpf/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/tns_hpf/api_password</config_path>
                    </field>
                    <field id="api_test_username" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test API Username</label>
                        <config_path>payment/tns_hpf/api_test_username</config_path>
                    </field>
                    <field id="api_test_password" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test API Password</label>
                        <config_path>payment/tns_hpf/api_test_password</config_path>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/test</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/debug</config_path>
                    </field>

                    <!-- CCV/CSC Rules -->
                    <group id="csc_rules" translate="label" type="text" sortOrder="121" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>CCV/CSC Rules</label>
                        <field id="csc" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable CSC Rules</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/tns_hpf/csc_rules</config_path>
                        </field>
                        <field id="csc_rules_match" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Valid or matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/csc_rules_match</config_path>
                        </field>
                        <field id="csc_rules_not_present" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Merchant indicated CSC not present on card</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/csc_rules_not_present</config_path>
                        </field>
                        <field id="csc_rules_not_processed" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Not processed</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/csc_rules_not_processed</config_path>
                        </field>
                        <field id="csc_rules_not_supported" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Card issuer is not registered and/or certified</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/csc_rules_not_supported</config_path>
                        </field>
                        <field id="csc_rules_no_match" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Invalid or not matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/csc_rules_no_match</config_path>
                        </field>
                    </group>

                    <!-- 3-D Secure -->
                    <group id="tds_rules" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>3-D Secure Rules</label>
                        <field id="three_d_secure" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable 3-D Secure</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/tns_hpf/three_d_secure</config_path>
                        </field>
                        <field id="tds_auth_not_available" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>An internal error occurred and Authentication is not currently available</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/tds_auth_not_available</config_path>
                        </field>
                        <field id="tds_auth_successful" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>The cardholder was successfully authenticated</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/tds_auth_successful</config_path>
                        </field>
                        <field id="tds_auth_failed" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>The cardholder failed the authentication</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/tds_auth_failed</config_path>
                        </field>
                        <field id="tds_auth_attempted" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Authentication was attempted but the card issuer did not perform the authentication</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/tds_auth_attempted</config_path>
                        </field>
                        <field id="tds_no_support" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>The card does not support 3DS authentication</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/tds_no_support</config_path>
                        </field>
                    </group>

                    <!-- AVS -->
                    <group id="avs_rules" translate="label" type="text" sortOrder="141" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>AVS Rules</label>
                        <field id="avs" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable AVS</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/tns_hpf/avs</config_path>
                        </field>
                        <field id="avs_rules_address_zip_match" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Street address and zip/postcode were matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_address_zip_match</config_path>
                        </field>
                        <field id="avs_rules_zip_match" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Zip/postcode matched. Street address not matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_zip_match</config_path>
                        </field>
                        <field id="avs_rules_address_match" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Street address matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_address_match</config_path>
                        </field>
                        <field id="avs_rules_name_match" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Card holder name matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_name_match</config_path>
                        </field>
                        <field id="avs_rules_name_zip_match" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Card holder name and zip/postcode matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_name_zip_match</config_path>
                        </field>
                        <field id="avs_rules_name_address_match" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Card holder name and street address matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_name_address_match</config_path>
                        </field>
                        <field id="avs_rules_no_match" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>No match</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_no_match</config_path>
                        </field>
                        <field id="avs_rules_service_not_supported" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Service currently not supported by acquirer or merchant</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_service_not_supported</config_path>
                        </field>
                        <!--SERVICE_NOT_AVAILABLE_RETRY Issuer system is unavailable. Retry can be attempted-->
                        <field id="avs_rules_not_requested" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>AVS not requested</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_not_requested</config_path>
                        </field>
                        <field id="avs_rules_not_available" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>No data available from issuer or AVS data not supported for transaction</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_not_available</config_path>
                        </field>
                        <field id="avs_rules_not_verified" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>AVS could not be verified for an international transaction</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_hpf/avs_rules_not_verified</config_path>
                        </field>
                    </group>                    
                    
                    <field id="currency" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Accepted Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/tns_hpf/currency</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/tns_hpf/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/tns_hpf/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tns_hpf/sort_order</config_path>
                    </field>
                </group>

                <group id="hosted" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hosted Checkout</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/active</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>OnTap\Tns\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/tns_hosted/payment_action</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/tns_hosted/title</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/tns_hosted/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/tns_hosted/api_password</config_path>
                    </field>
                    <field id="api_test_username" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test API Username</label>
                        <config_path>payment/tns_hosted/api_test_username</config_path>
                    </field>
                    <field id="api_test_password" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test API Password</label>
                        <config_path>payment/tns_hosted/api_test_password</config_path>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/test</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/debug</config_path>
                    </field>
                    <field id="currency" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Accepted Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/tns_hosted/currency</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/tns_hosted/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/tns_hosted/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tns_hosted/sort_order</config_path>
                    </field>
                </group>

                <group id="direct" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit or Debit Card</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct/active</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>OnTap\Tns\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/tns_direct/payment_action</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/tns_direct/title</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/tns_direct/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/tns_direct/api_password</config_path>
                    </field>
                    <field id="api_test_username" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test API Username</label>
                        <config_path>payment/tns_direct/api_test_username</config_path>
                    </field>
                    <field id="api_test_password" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test API Password</label>
                        <config_path>payment/tns_direct/api_test_password</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/tns_direct/order_status</config_path>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct/test</config_path>
                    </field>
                    <field id="currency" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Accepted Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/tns_direct/currency</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct/debug</config_path>
                    </field>

                    <!-- CCV/CSC Rules -->
                    <group id="csc_rules" translate="label" type="text" sortOrder="121" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>CCV/CSC Rules</label>
                        <field id="csc" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable CSC Rules</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/tns_direct/csc_rules</config_path>
                        </field>
                        <field id="csc_rules_match" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Valid or matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/csc_rules_match</config_path>
                        </field>
                        <field id="csc_rules_not_present" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Merchant indicated CSC not present on card</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/csc_rules_not_present</config_path>
                        </field>
                        <field id="csc_rules_not_processed" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Not processed</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/csc_rules_not_processed</config_path>
                        </field>
                        <field id="csc_rules_not_supported" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Card issuer is not registered and/or certified</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/csc_rules_not_supported</config_path>
                        </field>
                        <field id="csc_rules_no_match" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Invalid or not matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/csc_rules_no_match</config_path>
                        </field>
                    </group>

                    <!-- 3-D Secure -->
                    <group id="tds_rules" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>3-D Secure Rules</label>
                        <field id="three_d_secure" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable 3-D Secure</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/tns_direct/three_d_secure</config_path>
                        </field>
                        <field id="tds_auth_not_available" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>An internal error occurred and Authentication is not currently available</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/tds_auth_not_available</config_path>
                        </field>
                        <field id="tds_auth_successful" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>The cardholder was successfully authenticated</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/tds_auth_successful</config_path>
                        </field>
                        <field id="tds_auth_failed" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>The cardholder failed the authentication</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/tds_auth_failed</config_path>
                        </field>
                        <field id="tds_auth_attempted" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Authentication was attempted but the card issuer did not perform the authentication</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/tds_auth_attempted</config_path>
                        </field>
                        <field id="tds_no_support" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>The card does not support 3DS authentication</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ThreeDSecure\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/tds_no_support</config_path>
                        </field>
                    </group>

                    <!-- AVS -->
                    <group id="avs_rules" translate="label" type="text" sortOrder="141" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>AVS Rules</label>
                        <field id="avs" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable AVS</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/tns_direct/avs</config_path>
                        </field>
                        <field id="avs_rules_address_zip_match" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Street address and zip/postcode were matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_address_zip_match</config_path>
                        </field>
                        <field id="avs_rules_zip_match" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Zip/postcode matched. Street address not matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_zip_match</config_path>
                        </field>
                        <field id="avs_rules_address_match" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Street address matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_address_match</config_path>
                        </field>
                        <field id="avs_rules_name_match" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Card holder name matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_name_match</config_path>
                        </field>
                        <field id="avs_rules_name_zip_match" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Card holder name and zip/postcode matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_name_zip_match</config_path>
                        </field>
                        <field id="avs_rules_name_address_match" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Card holder name and street address matched</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_name_address_match</config_path>
                        </field>
                        <field id="avs_rules_no_match" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>No match</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_no_match</config_path>
                        </field>
                        <field id="avs_rules_service_not_supported" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Service currently not supported by acquirer or merchant</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_service_not_supported</config_path>
                        </field>
                        <!--SERVICE_NOT_AVAILABLE_RETRY Issuer system is unavailable. Retry can be attempted-->
                        <field id="avs_rules_not_requested" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>AVS not requested</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_not_requested</config_path>
                        </field>
                        <field id="avs_rules_not_available" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>No data available from issuer or AVS data not supported for transaction</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_not_available</config_path>
                        </field>
                        <field id="avs_rules_not_verified" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>AVS could not be verified for an international transaction</label>
                            <source_model>OnTap\Tns\Model\Adminhtml\Source\ValidatorBehaviour</source_model>
                            <config_path>payment/tns_direct/avs_rules_not_verified</config_path>
                        </field>
                    </group>

                    <field id="cctypes" translate="label" type="multiselect" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card Types</label>
                        <source_model>Magento\Payment\Model\Source\Cctype</source_model>
                        <config_path>payment/tns_direct/cctypes</config_path>
                    </field>
                    <field id="useccv" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card Verification</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_direct/useccv</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/tns_direct/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/tns_direct/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tns_direct/sort_order</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
