<?xml version="1.0"?>
<!-- Copyright (c) 2016. On Tap Networks Limited. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="OnTap\MasterCard\Model\Ui\Direct\ConfigProvider">
        <arguments>
            <argument name="config" xsi:type="object">TnsDirectConfig</argument>
        </arguments>
    </type>
    <type name="OnTap\MasterCard\Model\Ui\Hosted\ConfigProvider">
        <arguments>
            <argument name="config" xsi:type="object">TnsHostedConfig</argument>
        </arguments>
    </type>
    <type name="OnTap\MasterCard\Model\Ui\Hpf\ConfigProvider">
        <arguments>
            <argument name="config" xsi:type="object">TnsHpfConfig</argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="tns_direct" xsi:type="string">tns_direct</item>
                <item name="tns_hosted" xsi:type="string">tns_hosted</item>
                <item name="tns_hpf" xsi:type="string">tns_hpf</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="tns_direct" xsi:type="object">OnTap\MasterCard\Model\Ui\Direct\ConfigProvider</item>
                <item name="tns_hosted" xsi:type="object">OnTap\MasterCard\Model\Ui\Hosted\ConfigProvider</item>
                <item name="tns_hpf" xsi:type="object">OnTap\MasterCard\Model\Ui\Hpf\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="OnTap\MasterCard\Controller\Webhook\Response">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="tns_direct" xsi:type="object">TnsDirectConfig</item>
                <item name="tns_hosted" xsi:type="object">TnsHostedConfig</item>
                <item name="tns_hpf" xsi:type="object">TnsHpfConfig</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="tns_direct" xsi:type="object">OnTap\MasterCard\Model\Ui\TokenUiComponentProvider</item>
                <item name="tns_hpf" xsi:type="object">OnTap\MasterCard\Model\Ui\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>
</config>
